Package                Version             
---------------------- --------------------
aiohttp                3.8.1               
aiosignal              1.2.0               
async-generator        1.10                
async-timeout          4.0.2               
attrs                  19.3.0              
Automat                0.8.0               
backcall               0.1.0               
badx12                 0.2.2               
bcrypt                 3.2.0               
blinker                1.4                 
certifi                2019.11.28          
cffi                   1.15.0              
chardet                3.0.4               
charset-normalizer     2.0.12              
click                  8.1.2               
cloud-init             21.4                
colorama               0.4.3               
command-not-found      0.3                 
configobj              5.0.6               
constantly             15.1.0              
cryptography           2.8                 
dbus-python            1.2.16              
decorator              4.4.2               
dicttoxml              1.7.4               
distro                 1.4.0               
distro-info            0.23ubuntu1         
dpkt                   1.9.7.2             
entrypoints            0.3                 
Flask                  2.1.1               
frozenlist             1.3.0               
geoip2                 4.5.0               
h11                    0.13.0              
httplib2               0.14.0              
hyperlink              19.0.0              
idna                   2.8                 
ifcfg                  0.22                
importlib-metadata     4.11.3              
incremental            16.10.1             
ipython                7.13.0              
ipython-genutils       0.2.0               
itsdangerous           2.1.2               
jedi                   0.15.2              
Jinja2                 3.1.1               
jsonpatch              1.22                
jsonpointer            2.0                 
jsonschema             3.2.0               
keyring                18.0.1              
kthread                0.2.2               
language-selector      0.1                 
launchpadlib           1.10.13             
lazr.restfulclient     0.14.2              
lazr.uri               1.0.3               
lxml                   4.7.1               
MarkupSafe             2.1.1               
maxminddb              2.2.0               
more-itertools         4.2.0               
multidict              6.0.2               
netifaces              0.10.4              
nmap                   0.0.1               
oauthlib               3.1.0               
outcome                1.1.0               
paramiko               2.10.1              
parso                  0.5.2               
pexpect                4.6.0               
pickleshare            0.7.5               
pip                    20.0.2              
prompt-toolkit         2.0.10              
py                     1.11.0              
pyasn1                 0.4.2               
pyasn1-modules         0.2.1               
pycparser              2.21                
Pygments               2.3.1               
PyGObject              3.36.0              
PyHamcrest             1.9.0               
PyJWT                  1.7.1               
pymacaroons            0.13.0              
PyNaCl                 1.3.0               
pyOpenSSL              19.0.0              
pyrsistent             0.15.5              
pyserial               3.4                 
pysftp                 0.2.9               
pyshark                0.4.5               
python-apt             2.0.0+ubuntu0.20.4.7
python-debian          0.1.36ubuntu1       
python-nmap            0.7.1               
PyYAML                 5.3.1               
requests               2.27.1              
requests-unixsocket    0.2.0               
scapy                  2.4.5               
SecretStorage          2.3.1               
selenium               4.1.0               
service-identity       18.1.0              
setuptools             45.2.0              
simplejson             3.16.0              
six                    1.14.0              
sniffio                1.2.0               
sortedcontainers       2.4.0               
sos                    4.2                 
ssh-import-id          5.10                
systemd-python         234                 
traitlets              4.3.3               
trio                   0.19.0              
trio-websocket         0.9.2               
Twisted                18.9.0              
ubuntu-advantage-tools 27.6                
ufw                    0.36                
unattended-upgrades    0.1                 
urllib3                1.26.8              
wadllib                1.3.3               
wcwidth                0.1.8               
Werkzeug               2.1.1               
wheel                  0.34.2              
wsproto                1.0.0               
yarl                   1.7.2               
zipp                   1.0.0               
zope.interface         4.7.1               
